[submodule "color_highlight"]
	path = color_highlight
	url = git://github.com/chrisbra/color_highlight.git

[submodule "current-func-info"]
	path = current-func-info
	url = git://github.com/tyru/current-func-info.vim

[submodule "indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git

[submodule "jedi-vim"]
	path = jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git

[submodule "jslint"]
	path = bundle/jslint
	url = http://github.com/hallettj/jslint.vim

[submodule "kolor"]
	path = bundle/kolor
	url = https://github.com/zeis/vim-kolor.git

[submodule "nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git


[submodule "phpcomplete"]
	path = bundle/phpcomplete.vim
	url = http://github.com/shawncplus/phpcomplete.vim

[submodule "python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git

[submodule "python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git

[submodule "snipmate.vim"]
	url = https://github.com/msanders/snipmate.vim.git
	path = bundle/snipmate.vim

[submodule "supertab.vim"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab

[submodule "syntastic.vim"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

[submodule "tlib"]
	path = bundle/tlib
	url = https://github.com/vim-scripts/tlib.git

[submodule "vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git

[submodule "vim-bundle-update"]
	path = bundle/vim-bundle-update
	url = https://github.com/kugaevsky/vim-bundle-update.git

[submodule "vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary

[submodule "vim-eunuch"]
	path = bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git

[submodule "vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git


[submodule "vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat

[submodule "vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "identLine"]
	path = identLine
	url = git://github.com/Yggdroot/indentLine.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
